body {
  margin: 0;
  padding: 0;
  background-color: #bac5ce;
  overflow: hidden;
}
body #outerframe {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: #87cafa;
  display: flex;
  flex-direction: column;
}
body #outerframe #headline {
  padding: 4px 8px 2px 8px;
  font-family: Arial;
  font-size: 110%;
  display: flex;
}
body #outerframe #headline #name {
  display: inline-block;
  padding: 10px 15px;
  font-weight: bold;
  align-self: center;
}
body #outerframe #headline #text {
  display: inline-block;
  align-self: center;
}
body #outerframe #headline #windowButtons {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
body #outerframe #headline #windowButtons button {
  padding: 0px 5px;
  border: 0;
  background: 0;
  outline: 0;
  font-size: 110%;
}
body #outerframe #headline #windowButtons button:hover {
  color: #f7f7f7;
}
body #outerframe #verifyframe {
  height: 100%;
  display: flex;
}
body #outerframe #verifyframe #leftbar {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body #outerframe #verifyframe #leftbar #input {
  display: flex;
  position: relative;
  margin: 0px 15px 15px 15px;
  padding: 10px 15px;
  border: 0;
  border-radius: 6px;
  background-color: #e7f5ff;
  font-family: monospace;
  width: calc(100% - 60px);
  flex-grow: 1;
}
body #outerframe #verifyframe #leftbar #input #inputInfos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
body #outerframe #verifyframe #leftbar #input #inputInfos #text {
  display: none;
  font-size: 110%;
}
body #outerframe #verifyframe #leftbar #input #inputInfos #buttonsDiv {
  padding: 8px 0px 15px 0px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
body #outerframe #verifyframe #leftbar #input #inputInfos #buttonsDiv button {
  font-size: 1.1vw;
  width: 10vw;
  height: 10vw;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 50%;
  background-color: #aeddff;
  box-shadow: none;
  align-self: center;
}
body #outerframe #verifyframe #leftbar #input #inputInfos #buttonsDiv button i {
  font-size: 150%;
  padding-bottom: 7px;
}
body #outerframe #verifyframe #leftbar #input #inputInfos #buttonsDiv button:hover {
  color: #f7f7f7;
  background-color: #519ad0;
}
body #outerframe #verifyframe #leftbar #input #inputInfos #loadingErrors {
  min-height: 7vh;
  font-family: Arial;
  font-size: 120%;
  text-align: center;
}
body #outerframe #verifyframe #leftbar #input #inputInfos #loadingErrors #errorText {
  display: none;
  padding: 10px 30px 17px 30px;
  background-color: #e46464a6;
  border-radius: 6px;
}
body #outerframe #verifyframe #leftbar #input #inputInfos #loadingErrors #errorText i {
  position: relative;
  font-size: 160%;
  top: 5px;
  padding-right: 3px;
}
body #outerframe #verifyframe #leftbar #input #aboutScreen {
  display: none;
  width: 100%;
}
body #outerframe #verifyframe #leftbar #input #aboutScreen .linkButton {
  border: 0;
  border-radius: 4px;
  padding: 2px 4px;
  margin-top: 1px;
  background-color: #b9dbf5;
  font-size: 75%;
}
body #outerframe #verifyframe #leftbar #input #aboutScreen .linkButton:hover {
  color: #aad0ec;
  background-color: #3c75a0;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport {
  display: none;
  flex-direction: column;
  width: 100%;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #description {
  padding: 0px 0px 5px 0px;
  font-size: 120%;
  font-weight: bold;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #chargingSessions {
  padding: 0px 0px 0px 10px;
  height: 100%;
  overflow-y: scroll;
  margin-top: 10px;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #chargingSessions .chargingSessions {
  position: relative;
  margin-bottom: 4px;
  padding: 5px 9px;
  background-color: #d6e4ef;
  border-radius: 6px;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #chargingSessions .chargingSessions .date {
  font-weight: bold;
  padding: 2px 0px 3px 0px;
  font-size: 110%;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #chargingSessions .chargingSessions .table {
  display: table;
  border-collapse: separate;
  border-spacing: 4px 4px;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #chargingSessions .chargingSessions .table .productInfos {
  display: table-row;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #chargingSessions .chargingSessions .table .productInfos .productIcon {
  display: table-cell;
  padding: 6px 7px 0px 3px;
  text-align: center;
  vertical-align: top;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #chargingSessions .chargingSessions .table .locationInfos {
  display: table-row;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #chargingSessions .chargingSessions .table .locationInfos .locationIcon {
  display: table-cell;
  padding: 6px 7px 0px 3px;
  text-align: center;
  vertical-align: top;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #chargingSessions .chargingSessions .verificationStatus {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  font-size: 80%;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #chargingSessions .chargingSessions .verificationStatus i {
  display: block;
  font-size: 200%;
  padding-bottom: 4px;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #chargingSessions .chargingSessions:hover {
  background-color: #b8cdde;
}
body #outerframe #verifyframe #leftbar #input #chargingSessionReport #chargingSessions::-webkit-scrollbar {
  display: none;
}
body #outerframe #verifyframe #leftbar #input #backButtonDiv {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
body #outerframe #verifyframe #leftbar #input #backButtonDiv #backButton {
  border: 0;
  background-color: #cce5f7;
  padding: 7px 14px 8px 13px;
  border-radius: 50%;
  margin: 4px;
  font-size: 180%;
}
body #outerframe #verifyframe #leftbar #input #backButtonDiv #backButton:hover {
  background-color: #519ad0;
}
body #outerframe #verifyframe #leftbar #input::-webkit-scrollbar {
  display: none;
}
body #outerframe #verifyframe #leftbar .over {
  background-color: cornflowerblue !important;
  /*border:             1px solid #2c4a60 !important;*/
}
body #outerframe #verifyframe #leftbar #buttonsDiv {
  padding: 8px 17px 15px 15px;
  text-align: right;
}
body #outerframe #verifyframe #leftbar #buttonsDiv button {
  border: 0;
  padding: 8px 15px;
  /*font-size:          120%;*/
  border-radius: 4px;
  box-shadow: 2px 2px 6px #999;
}
body #outerframe #verifyframe #rightbar {
  width: 50%;
  background-color: #c7e1f3;
  border-radius: 8px 8px 8px 0px;
}
body #outerframe #verifyframe #rightbar #map {
  width: 100%;
  min-height: 33%;
  border-radius: 8px 8px 0px 0px;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos {
  width: 100%;
  height: 35%;
  background-color: #b3d6ef;
  padding: 20px 20px;
  width: calc(100% - 40px);
  font-family: Arial;
  color: #2c4a60;
  overflow-y: scroll;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos #headline {
  color: #2e71a2;
  font-weight: bold;
  padding-bottom: 20px;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo {
  display: table;
  font-size: 105%;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo .meter {
  display: table-row;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo .meter .meterId {
  display: table-cell;
  padding-right: 20px;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo .meter .meterIdValue {
  display: table-cell;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo .meterVendor {
  display: table-row;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo .meterVendor .meterVendorId {
  display: table-cell;
  padding-right: 20px;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo .meterVendor .meterVendorValue {
  display: table-cell;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo .meterModel {
  display: table-row;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo .meterModel .meterModelId {
  display: table-cell;
  padding-right: 20px;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo .meterModel .meterModelValue {
  display: table-cell;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo .measurement {
  display: table-row;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo .measurement .measurementId {
  display: table-cell;
  padding-right: 30px;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementInfo .measurement .measurementIdValue {
  display: table-cell;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementValues {
  display: table;
  margin-top: 5px;
  width: 100%;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementValues .measurementValue {
  display: table-row;
  padding: 3px 4px;
  border-radius: 3px;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementValues .measurementValue .timestamp {
  display: table-cell;
  padding: 2px 16px 2px 6px;
  border-radius: 4px 0px 0px 4px;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementValues .measurementValue .value {
  display: table-cell;
  text-align: right;
  padding-right: 5px;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementValues .measurementValue .unit {
  display: table-cell;
  padding-right: 10px;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementValues .measurementValue .verificationStatus {
  display: table-cell;
  padding: 2px 6px;
  border-radius: 0px 4px 4px 0px;
  width: 100%;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos .measurementValues .measurementValue:hover {
  background-color: #72b3e2;
}
body #outerframe #verifyframe #rightbar #evseTarifInfos::-webkit-scrollbar {
  display: none;
}
body #outerframe #verifyframe #rightbar #results {
  width: 100%;
  min-height: 34%;
  padding: 20px 20px;
  width: calc(100% - 40px);
  font-family: Arial;
  font-weight: bold;
}
body #outerframe #verifyframe #rightbar #results i {
  /*color:              #5ab337;*/
  font-size: 400%;
  position: relative;
  top: 18px;
  padding-right: 15px;
}
body #outerframe #overlay {
  position: absolute;
  font-family: sans-serif;
  font-size: 90%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  margin: auto;
}
body #outerframe #overlay #overlayText {
  position: relative;
  top: 5%;
  width: calc(90% - 20px);
  height: calc(90% - 50px);
  margin: auto;
  padding: 1px;
  background-color: #f5f5f5;
  border: 10px solid #f5f5f5;
  border-radius: 6px;
  box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  z-index: 9000;
}
body #outerframe #overlay #overlayText #info {
  display: table;
}
body #outerframe #overlay #overlayText #info .row {
  display: table-row;
}
body #outerframe #overlay #overlayText #info .row .id {
  display: table-cell;
  padding: 2px 10px 1px 8px;
  font-weight: bold;
  border-radius: 4px 0px 0px 4px;
}
body #outerframe #overlay #overlayText #info .row .value {
  display: table-cell;
  padding: 2px 8px 1px 0px;
  border-radius: 0px 4px 4px 0px;
}
body #outerframe #overlay #overlayText #info .row:hover {
  background-color: orange;
}
body #outerframe #overlay #overlayText #info .overEntry {
  background-color: orange;
}
body #outerframe #overlay #overlayText .infoblock {
  font-family: monospace;
  font-size: 110%;
  margin-bottom: 10px;
}
body #outerframe #overlay #overlayText .infoblock .description {
  position: relative;
  top: 8px;
  left: 10px;
  background-color: #98c3e2;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 4px;
  font-size: 85%;
}
body #outerframe #overlay #overlayText .infoblock .value {
  overflow-wrap: break-word;
  background-color: #E1E1E1;
  border-radius: 4px;
  padding: 11px 10px 6px 10px;
  width: calc(100% - 20px);
}
body #outerframe #overlay #overlayText #buffer .value .entry {
  display: inline-block;
  padding: 1px 4px 1px 4px;
  margin-left: -4px;
  border-radius: 4px;
}
body #outerframe #overlay #overlayText #buffer .value .entry:hover {
  background-color: orange;
}
body #outerframe #overlay #overlayText #buffer .value .overEntry {
  background-color: orange;
}
body #outerframe #overlay #overlayText #signatureCheck {
  margin-top: 30px;
  text-align: center;
  font-size: 150%;
}
body #outerframe #overlay #overlayText #signatureCheck i {
  font-size: 200%;
}
body #outerframe #overlay #overlayText #signatureCheck #description {
  position: relative;
  line-height: 200%;
}
body #outerframe #overlay #overlayText::-webkit-scrollbar {
  display: none;
}
body #outerframe .fullScreen {
  width: 100vw !important;
  height: 100vh !important;
  border-radius: 0 !important;
}
body .fullScreen {
  width: 100vw !important;
  height: 100vh !important;
  margin-top: 0 !important;
  border-radius: 0 !important;
}
body .fa-check-circle {
  color: #5ab337;
}
body .fa-times-circle {
  color: #CC0000;
}

/*# sourceMappingURL=verify.css.map */
