
body {

    margin:             0;
    padding:            0;
    background-color:   #bac5ce;
    overflow:           hidden;

    #outerframe {

        width:              100vw;
        height:             100vh;
        margin:             auto;
        //margin-top:         10vh;
        background-color:   #87cafa;
        //border-radius:      8px;
        display:            flex;
        flex-direction:     column;

        #headline {

            padding:            4px 8px 2px 8px;
            font-family:        Arial;
            font-size:          110%;
            display:            flex;

            #name {
                display:        inline-block;
                padding:        10px 15px;
                font-weight:    bold;
                align-self:     center;
            }

            #text {
                display:        inline-block;
                align-self:     center;
            }

            #windowButtons {

                display:            flex;
                justify-content:    flex-end;
                flex-grow:          1;

                button {
                    padding:            0px 5px;
                    border:             0;
                    background:         0;
                    outline:            0;
                    font-size:          110%;
                }

                button:hover {
                    color:              #f7f7f7;
                }

            }

        }

        #verifyframe {

            height:             100%;
            display:            flex;

            #leftbar {

                width:              50%;
                display:            flex;
                flex-direction:     column;

                #input {

                    display:            flex;
                    position:           relative;
                    margin:             0px 15px 15px 15px;
                    padding:            10px 15px;
                    border:             0;
                    border-radius:      6px;
                    background-color:   rgb(231, 245, 255);
                    font-family:        Arial;
                    //font-family:        sans-serif;
                    font-size:          95%;
                    width:              calc(100% - 60px);
                    flex-grow:          1;

                    #inputInfos {

                        display:            flex;
                        flex-direction:     column;
                        justify-content:    space-evenly;
                        width:              100%;

                        #text {
                            text-align:         center;
                            font-size:          110%;
                            line-height:        130%;
                        }

                        #buttonsDiv {

                            padding:            8px 0px 15px 0px;
                            display:            flex;
                            width:              100%;
                            justify-content:    space-evenly;
        
                            button {

                                font-size:          1.1vw;
                                line-height:        125%;
                                width:              10vw;
                                height:             10vw;
                                padding:            0;
                                margin:             0;
                                outline:            0;
                                border:             0;
                                border-radius:      50%;
                                background-color:   #aeddff;
                                box-shadow:         none;
                                align-self:         center;

                                i {
                                    font-size:          150%;
                                    padding-bottom:     7px;
                                }

                            }

                            button:hover {
                                color:              #f7f7f7;
                                background-color:   #519ad0;
                            }
    
                        }

                        #loadingErrors {
                           
                            min-height:         7vh;
                            font-family:        Arial;
                            font-size:          120%;
                            text-align:         center;

                            #errorText {
                                
                                display:            none;
                                padding:            10px 30px 17px 30px;
                                background-color:   #e46464a6;
                                border-radius:      6px;

                                i {
                                    position:           relative;
                                    font-size:          160%;
                                    top:                5px;
                                    padding-right:      3px;
                                }

                            }

                        }

                    }
                    
                    #aboutScreen {

                        display:        none;
                        width:          100%;
                        margin-top:     10px;

                        #OpenSourceLibs {

                            display:        table;
                            margin:         10px 20px;                       

                            .lib {

                                display:    table-row;

                                .name {
                                    display:    table-cell;
                                }

                                .license {
                                    display:    table-cell;
                                }

                            }

                        }

                        .linkButton {
                            border:             0;
                            border-radius:      4px;
                            padding:            2px 4px;
                            margin-top:         1px;
                            margin-left:        4px;
                            background-color:   #b9dbf5;
                            font-size:          75%;
                        }

                        .linkButton:hover {
                            color:              #aad0ec;
                            background-color:   #3c75a0;
                        }

                    }

                    #chargingSessionReport {

                        display:            none;
                        flex-direction:     column;
                        width:              100%;

                        #description {
                            padding:        0px 0px 5px 0px;
                            font-size:      120%;
                            font-weight:    bold;
                        }

                        #chargingSessions {

                            padding:            0px 0px 0px 10px;
                            height:             100%;
                            // overflow:           hidden scroll;
                            overflow-y:         scroll;
                            margin-top:         10px;

                            .chargingSessions {

                                position:           relative;
                                margin-bottom:      4px;
                                padding:            7px 11px;
                                background-color:   #d6e4ef;
                                border-radius:      6px;
                                cursor:             pointer;

                                .date {
                                    font-weight:        bold;
                                    padding:            2px 0px 3px 0px;
                                    font-size:          105%;
                                }

                                .table {

                                    display:            table;
                                    border-collapse:    separate;
                                    border-spacing:     4px 4px;

                                    .productInfos {

                                        display:            table-row;

                                        .productIcon {
                                            display:            table-cell;
                                            padding:            6px 7px 0px 3px;
                                            text-align:         center;
                                            vertical-align:     top;
                                        }

                                        .productText {
                                            color:            #212427;
                                        }

                                    }

                                    .locationInfos {

                                        display:            table-row;

                                        .locationIcon {
                                            display:            table-cell;
                                            padding:            6px 7px 0px 3px;
                                            text-align:         center;
                                            vertical-align:     top;
                                        }

                                        .locationText {
                                            color:            #212427;
                                        }                                        

                                    }

                                }

                                .verificationStatus {

                                    position:           absolute;
                                    top:                10px;
                                    right:              12px;
                                    text-align:         center;
                                    font-size:          80%;

                                    i {
                                        display:            block;
                                        font-size:          250%;
                                        padding-bottom:     4px;
                                    }

                                }

                            }

                            .chargingSessions:hover {
                                background-color:       #b8cdde;
                            }

                            .activated {
                                background-color:       #b5d4ec;
                            }

                        }

                        #chargingSessions::-webkit-scrollbar {
                            display:            none;
                        }

                    }

                    #backButtonDiv {

                        display:        none;
                        position:       absolute;
                        left:           0px;
                        bottom:         0px;

                        #backButton {
                            border:             0;
                            // background-color:   #cce5f7;
                            // padding:            7px 14px 8px 13px;
                            // border-radius:      50%;
                            background-color:   transparent;
                            color:            #b6d8f1;
                            margin:             4px;
                            font-size:          280%;
                        }

                        #backButton:hover {
                            // background-color:   #519ad0;
                            color:            #519ad0;
                        }

                    }

                }

                #input::-webkit-scrollbar {
                    display:            none;
                }

                .over {
                    background-color:   cornflowerblue !important;
                    /*border:             1px solid #2c4a60 !important;*/
                }

                #buttonsDiv {

                    padding:            8px 17px 15px 15px;
                    text-align:         right;

                    button {
                        border:             0;
                        padding:            8px 15px;
                        /*font-size:          120%;*/
                        border-radius:      4px;
                        box-shadow:         2px 2px 6px #999;
                    }

                }

            }

            #rightbar {

                width:              50%;
                background-color:   #c7e1f3;
                border-radius:      8px 8px 8px 0px;

                #map {
                    width:              100%;
                    min-height:         33%;
                    border-radius:      8px 8px 0px 0px;
                }

                #evseTarifInfos {

                    width:              100%;
                    height:             35%;
                    background-color:   #b3d6ef;
                    padding:            20px 20px;
                    width:              calc(100% - 40px);
                    font-family:        Arial;
                    color:              #2c4a60;
                    overflow-y:         scroll;

                    #headline {
                        color:              #2e71a2;
                        font-weight:        bold;
                        padding-bottom:     20px;
                    }

                    .measurementInfo {

                        display:            table;
                        font-size:          105%;

                        .meter {

                            display:            table-row;

                            .meterId {
                                display:            table-cell;
                                padding-right:      20px;
                            }

                            .meterIdValue {
                                display:            table-cell;
                            }

                        }

                        .meterVendor {

                            display:            table-row;

                            .meterVendorId {
                                display:            table-cell;
                                padding-right:      20px;
                            }

                            .meterVendorValue {
                                display:            table-cell;
                            }

                        }

                        .meterModel {

                            display:            table-row;

                            .meterModelId {
                                display:            table-cell;
                                padding-right:      20px;
                            }

                            .meterModelValue {
                                display:            table-cell;
                            }

                        }

                        .measurement {

                            display:            table-row;

                            .measurementId {
                                display:            table-cell;
                                padding-right:      30px;
                            }

                            .measurementIdValue {
                                display:            table-cell;
                            }

                        }

                    }

                    .measurementValues {

                        display:            table;
                        margin-top:         5px;
                        width:              100%;
                        cursor:             zoom-in;

                        .measurementValue {

                            display:            table-row;
                            padding:            3px 4px;
                            border-radius:      3px;

                            .timestamp {
                                display:            table-cell;
                                padding:            2px 16px 2px 6px;
                                border-radius:      4px 0px 0px 4px;
                                white-space:        nowrap
                            }

                            .value {
                                display:            table-cell;
                                text-align:         right;
                                padding-right:      5px;
                                white-space:        nowrap
                            }

                            .unit {
                                display:            table-cell;
                                padding-right:      10px;
                                white-space:        nowrap
                            }

                            .verificationStatus {
                                display:            table-cell;
                                padding:            2px 6px;
                                border-radius:      0px 4px 4px 0px;
                                width:              100%;
                                white-space:        nowrap
                            }

                        }

                        .measurementValue:hover {
                            background-color:     #72b3e2;
                        }                        

                    }

                }

                #evseTarifInfos::-webkit-scrollbar {
                    display:            none;
                }

                #feedback {

                    width:              100%;
                    min-height:         34%;
                    padding:            20px 20px;
                    width:              calc(100% - 40px);
                    font-family:        Arial;
                    font-weight:        bold;
                    color:            #6488a3;
                    line-height:        130%;

                    #feedbackMethods {

                        display:        table;
                        margin-top:     6px;

                        .row {

                            display:        table-row;

                            .key {
                                display:        table-cell;
                                padding:        0px 3px 0px 20px;
                                position:       relative;
                            }


    
                            .value {

                                display:        table-cell;
                                font-size:      90%;

                                a {
                                    text-decoration:    none;
                                    color:            #6488a3;
                                }

                                button {
                                    border:             0;
                                    padding:            8px 15px;
                                    background-color: #b6d8f1;
                                    color:            #6488a3;
                                    border-radius:      4px;
                                }
            
                                button:hover {
                                    background-color: #a6c8e1;
                                }

                            }
    
                        }

                        #feedbackEMail > .key {
                            top:            1px;
                        }

                    }

                }

            }

        }

        #overlay {

            position:               absolute;
            font-family:            sans-serif;
            font-size:              90%;
            background-color:     rgba(0, 0, 0, 0.3);
            width:                  100vw;
            height:                 100vh;
            margin:                 auto;
            //border-radius:          8px;

            #overlayText {

                position:               relative;
                top:                    5%;
                width:                  calc(90% - 40px);
                height:                 calc(90% - 50px);                
                margin:                 auto;
                padding:                1px;
                background-color:     #f5f5f5;
                border:                 20px solid #f5f5f5;
                border-radius:          6px;
                box-shadow:             2px 0 16px 0 rgba(0,0,0,.3);
                overflow-y:             scroll;
                z-index:                9000;

                #intro {
                    margin:                 5px 0px 10px 0px;
                }

                #cryptoData {

                    display:                table;

                    .row {

                        display:                table-row;

                        .id {
                            display:                table-cell;
                            padding:                2px 10px 1px 8px;
                            font-weight:            bold;
                            border-radius:          4px 0px 0px 4px;
                        }

                        .value {
                            display:                table-cell;
                            padding:                2px 8px 1px 0px;
                            border-radius:          0px 4px 4px 0px;
                        }

                    }

                    .row:hover {
                        background-color:       orange;        
                    }

                    .overEntry {
                        background-color:       orange;        
                    }

                }

                .infoblock {

                    font-family:            monospace;
                    font-size:              110%;
                    margin-bottom:          10px;

                    .description {
                        position:               relative;
                        top:                    8px;
                        left:                   10px;
                        background-color:     #98c3e2;
                        display:                inline-block;
                        padding:                1px 6px;
                        border-radius:          4px;
                        font-size:              85%;
                    }

                    .value {
                        overflow-wrap:          break-word;
                        background-color:     #E1E1E1;
                        border-radius:          4px;
                        padding:                11px 10px 6px 10px;
                        width:                  calc(100% - 20px);
                    }
                    
                }

                #buffer {
                    .value {

                        .entry {
                            display:            inline-block;
                            padding:            1px 4px 1px 4px;
                            margin-left:        -4px;
                            border-radius:      4px;
                        }

                        .entry:hover {
                            background-color: orange;        
                        }

                        .overEntry {
                            background-color: orange;        
                        }

                    }
                }

                #signatureCheck {

                    margin-top:     30px;
                    text-align:     center;
                    font-size:      150%;
                    
                    i {
                        font-size: 200%;
                    }

                    #description {
                        position: relative;
                        line-height: 200%;
                    }
     
                }

                #overlayOkButtonDiv {

                    position:       absolute;
                    left:           0px;
                    bottom:         0px;

                    #overlayOkButton {
                        border:             0;
                        background-color:   transparent;
                        color:            #b6d8f1;
                        margin:             4px;
                        font-size:          280%;
                    }

                    #overlayOkButton:hover {
                        color:            #519ad0;
                    }

                }

            }

            #overlayText::-webkit-scrollbar {
                display:            none;
            }

        }

        #issueTracker {

            position:               absolute;
            font-family:            sans-serif;
            font-size:              90%;
            background-color:     rgba(0, 0, 0, 0.3);
            width:                  100vw;
            height:                 100vh;
            margin:                 auto;
            //border-radius:          8px;

            #issueTrackerText {

                position:               relative;
                top:                    5%;
                width:                  calc(90% - 20px);
                height:                 calc(90% - 50px);                
                margin:                 auto;
                padding:                1px;
                background-color:     #f5f5f5;
                border:                 10px solid #f5f5f5;
                border-radius:          6px;
                box-shadow:             2px 0 16px 0 rgba(0,0,0,.3);
                overflow-y:             scroll;
                z-index:                9000;

                form {

                    padding:            20px;

                    .label {
                        margin:             15px 0px 4px 0px;
                    }

                    textarea {
                        width:              100%;
                        min-height:         20vh;
                        resize:             vertical;
                        border:             0;
                        border-radius:      4px;
                    }

                    input[type="text"] {
                        padding:            2px 3px;
                        border:             0;
                        border-radius:      3px;
                        margin-bottom:      3px;
                    } 

                    #sendIssueBox {

                        margin-top:         25px;
                        text-align:         center;

                        button {
                            margin-top:         10px;
                            padding:            8px 15px;
                            border:             0;
                            border-radius:      4px;
                            background-color:   #b6d8f1;
                        }

                        button:hover {
                            background-color: #519ad0;
                        }

                    }

                }

                #issueBackButtonDiv {

                    position:       absolute;
                    left:           0px;
                    bottom:         0px;

                    #issueBackButton {
                        border:             0;
                        background-color:   transparent;
                        color:            #b6d8f1;
                        margin:             4px;
                        font-size:          280%;
                    }

                    #issueBackButton:hover {
                        color:            #519ad0;
                    }

                }

            }

            #issueTrackerText::-webkit-scrollbar {
                display:            none;
            }

        }

        .fullScreen {
            width:              100vw !important;
            height:             100vh !important;
            border-radius:      0     !important;
        }

    }

    .fullScreen {
        width:              100vw !important;
        height:             100vh !important;
        margin-top:         0     !important;
        border-radius:      0     !important;
    }


    .fa-check-circle {
        color:          #5ab337;
    }

    .fa-times-circle {
        color:          #CC0000;
    }

}
